# Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pprint import pprint
import requests
from config import api_key
from config import api_key1
from config import api_key2
from config import api_key3
from config import api_key4
from config import api_key5
from config import api_key6
from config import api_key7
from config import api_key8
from config import api_key9

ModuleNotFoundError: No module named 'config'

In [ ]:
initData = pd.read_csv('MoviesOnStreamingPlatforms.csv')
initData.drop(columns = 'Unnamed: 0', inplace = True )
initData.head()

In [ ]:
initData.info()

In [5]:
initData.describe()

,ID,Year,Netflix,Hulu,Prime Video,Disney+,Type
count,9515.000000,9515.000000,9515.000000,9515.000000,9515.000000,9515.000000,9515.0
mean,4758.000000,2007.422386,0.388334,0.110037,0.432265,0.096900,0.0
std,2746.888239,19.130367,0.487397,0.312952,0.495417,0.295837,0.0
min,1.000000,1914.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,2379.500000,2006.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,4758.000000,2015.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,7136.500000,2018.000000,1.000000,0.000000,1.000000,0.000000,0.0
max,9515.000000,2021.000000,1.000000,1.000000,1.000000,1.000000,0.0

In [6]:
movies = initData["Title"].values.tolist()
# print(movies)

In [34]:
# Set counter
counter = 1
# apiKeys = [api_key,api_key1,api_key2,api_key3,api_key4,api_key5,api_key6, api_key7,api_key8,api_key9]
# Empty response list
responses = []
runtime = []
genre = []
country = []
metacritic = []
metascore = []
runtime = []
movieList = initData['Title']
tests = iter(tests)

# initializing list
list1 = ['81586c6', 'b42e33c9']
 
# converting list to iterator
list1 = iter(list1)

 
# printing using next()
# using default
# while ('81586c6'):
#     val = next(list1, 'end')
#     if val == 'end':
#         print('list end')
#         break
#     else:
#         print(val)

# for movie in movieList:
while ('81586c6'):
    val = next(list1, 'end')
    if val == 'end':
        print('list end')
        break
    else:
        for movie in movieList:
        counter += 1
            for i in list1:
                
#                 print(counter)
                url = "http://www.omdbapi.com/?apikey=" + i + "&t="
                movie_data = requests.get(url + movie).json()
                runtime.append(movie_data['Runtime'])
                country.append(movie_data['Country'])
                genre.append(movie_data['Genre'])
    #             metacritic.append(movie_data['Ratings']['Source']['Metacritic'])
    #             metascore.append(movie_data['Source']['Metascore'])
                print(f'Processing {movie} data')

            if counter == 3:
                    break

Processing The Irishman data
list end

In [37]:
initData['Runtime'] = movie_data['Runtime']
initData['Country']= movie_data['Country']
initData['Genre'] = movie_data['Genre']
# initData['Metacritic'] = movie_data['Source']['Metacritic']
# initData['Metascore'] = movie_data['Source']['Metascore']
initData.head()

,ID,Title,Year,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Runtime,Country,Genre
0,1,The Irishman,2019,18+,98/100,1,0,0,0,0,209 min,United States,"Biography, Crime, Drama"
1,2,Dangal,2016,7+,97/100,1,0,0,0,0,209 min,United States,"Biography, Crime, Drama"
2,3,David Attenborough: A Life on Our Planet,2020,7+,95/100,1,0,0,0,0,209 min,United States,"Biography, Crime, Drama"
3,4,Lagaan: Once Upon a Time in India,2001,7+,94/100,1,0,0,0,0,209 min,United States,"Biography, Crime, Drama"
4,5,Roma,2018,18+,94/100,1,0,0,0,0,209 min,United States,"Biography, Crime, Drama"

In [ ]:
# Check against type to ensure it is a movie
# Drop Age column
# Use Ratings to group age groups (G, PG, PG-13, R)
# Add runtime
# Description 
# country
# Genre
# Imdb score 
# Metascore
# Metacritic